
.formButton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px #029643;
  box-shadow: 4px 8px 19px -3px #029643;
  transition: all 250ms;
  overflow: hidden;
 }
 
 .formButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #029643;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #029643;
  box-shadow: 4px 8px 19px -3px #029643;
  transition: all 250ms
 }
 
 .formButton:hover {
  color: #e8e8e8;
 }
 
 .formButton:hover::before {
  width: 100%;
 }
.column {
    float: left;
    width: 100%;
    padding: 30px;
  }
  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  h3{
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
  }
.info{
    margin-top: 1%;
}

.titulo_info{
  padding-left: 20px;
  padding-top: 10px;
}

.div_primer_parrafo{
  display: inline;
  height: auto;
  margin-top: 20px;
}

.primer_parrafo{
  width: 72%;
  height: auto;
  float: left;
  padding-left: 20px;
  
}

.div_imagen{
  float: right;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  margin-right: 20px;
}
.div_segundo_parrafo{
  display: inline;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.segundo_parrafo{
  width: 70%;
  height: auto;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}

.div_imagen2{
  float: left;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  margin-left: 20px;
  height: 300px;
  width: 360px;
}
.tercer_parrafo{
  padding-right: 30px;
  padding-left: 30px;
}
.div_cuarto_parrafo{
  display: inline;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cuarto_parrafo{
  width: 70%;
  height: auto;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.div_imagen4{
  float: right;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  margin-right: 20px;
  height: 100%;
  width: 350px;
  text-align: center;
}
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 320px;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #029643;;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }